:root {
  font-family: "Roboto Slab", sans-serif;
  color: #eeeeee;
  background-color: #0a0a0a;
}

body {
  margin: 0px;
}

#gradient-cover {
  width: 100%;
  height: 64.34vw;
  background: linear-gradient(to bottom, rgba(10,10,10,0), rgba(10,10,10,100));
  position: relative;
}

#cover-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
}

#centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  text-align: center;
}

#cover-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 128pt;
  letter-spacing: 48pt;
  margin: 0;
}

#links {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 16pt;
}

#links a, #links a:active{
  color: #eeeeee;
  text-decoration: none;
  display: inline-block;
  margin-right: 32px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
}

#content-main {
  margin: 0;
  background-color: #0a0a0a;
  padding: 32px;
}

#content-main h2 {
  font-size: 32pt;
}

#content-main h2:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 860px) and (min-width: 456px) {
  #cover-text {
    font-size: 64pt;
    letter-spacing: 24pt;
  }
}

@media screen and (max-width: 455px) {
  #cover-text {
    font-size: 48px;
    letter-spacing: 16pt;
  }
}